.wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 96px;
  padding-top: calc($navbar-height + ($padding-section-y * 2));

  @include respond-to("tablet", "mobile-l", "mobile-m", "mobile-s") {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .about_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 48px;

    .greeting {
      @include flex-center($direction: row, $gap: 8px);
      @include glass-effect;

      padding: 8px 12px;

      width: max-content;

      .wave {
        display: inline-block; /* Обязательно, чтобы transform работал */
        animation: waving_hand 3s infinite; /* Название, длительность, бесконечно */
        transform-origin: 70% 70%; /* Точка, вокруг которой "вращается" кисть */

        @keyframes waving_hand {
          0% {
            transform: rotate(0deg);
          }
          10% {
            transform: rotate(14deg);
          } /* Резкое движение вправо */
          20% {
            transform: rotate(-8deg);
          } /* Влево */
          30% {
            transform: rotate(14deg);
          } /* Вправо */
          40% {
            transform: rotate(-4deg);
          } /* Влево */
          50% {
            transform: rotate(10deg);
          } /* Вправо */
          60% {
            transform: rotate(0deg);
          } /* Возврат в покой */
          100% {
            transform: rotate(0deg);
          } /* Пауза до конца цикла */
        }
      }
    }

    .middle {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .name {
        span {
          // Градиентный текст
          background: $color-text-accent-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          // Мягкое свечение для текста
          filter: drop-shadow(0 0 30px rgba(119, 49, 218, 0.15));

          // Для поддержки в браузерах без -webkit
          color: $color-text-accent;

          // Анимация
          background-size: 200% 200%;
          animation: gradientShift 4s ease infinite;

          // Анимация для градиента
          @keyframes gradientShift {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
        }
      }
    }

    .info_wrapper {
      @include glass-effect;
      @include flex-center;
      gap: 24px;

      @include respond-to("mobile-m", "mobile-s") {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .item {
        width: 100%;
        @include flex-center($direction: column);
        gap: 12px;
      }
    }
  }

  .photo_wrapper {
    position: relative;
    width: 100%;
    height: calc(
      $min-height-viewport - calc($padding-section-y * 3) - $navbar-height
    );
    @include glass-effect;
    padding: 8px;
    overflow: hidden;
    border-radius: 32px;
    transition: padding 0.3s;
    max-height: 600px;

    @include respond-to("mobile-m", "mobile-s") {
      max-height: 400px;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // pointer-events: none;
      border-radius: 24px;
      transition: border-radius 0.3s;
    }

    @media (hover: hover) and (pointer: fine) {
      &:has(.image:hover) {
        padding: 0px;

        .image {
          border-radius: 32px;
        }
      }
    }

    .bottom_wrapper {
      position: absolute;
      bottom: 24px;
      right: 24px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 12px;

      @include respond-to("mobile-m", "mobile-s") {
        display: none;
      }

      .status_wrapper {
        @include glass-effect;
        // width: max-content;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        .title {
          display: flex;
          align-items: center;
          align-content: center;
          gap: 12px;

          .status {
            position: relative;
            min-width: 8px;
            max-width: 8px;
            min-height: 8px;
            max-height: 8px;
            border-radius: 100%;

            &.status_available {
              background: #22c55e;

              /* Создаем пульсирующий слой через псевдоэлемент */
              &.status_available::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #22c55e;
                border-radius: 100%;
                opacity: 0.7;
                animation: pulse 2s infinite;
              }

              @keyframes pulse {
                0% {
                  transform: scale(1);
                  opacity: 0.7;
                }
                70% {
                  transform: scale(3); /* Круг расширяется */
                  opacity: 0; /* И плавно исчезает */
                }
                100% {
                  transform: scale(1);
                  opacity: 0;
                }
              }
            }
          }
        }

        .description {
          margin-left: calc(8px + 12px);
        }
      }

      .social_wrapper {
        @include glass-effect;
        @include flex-center;
        gap: 16px;
        width: 100%;

        @include respond-to("mobile-m", "mobile-s") {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        .icon_wrapper {
        }
      }
    }
  }

  .mobile_bottom {
    display: none;

    @include respond-to("mobile-m", "mobile-s") {
      display: flex;
      flex-direction: column;
      margin-top: -36px;

      .bottom_wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .status_wrapper {
          @include glass-effect;
          // width: max-content;
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 100%;

          .title {
            display: flex;
            align-items: center;
            align-content: center;
            gap: 12px;

            .status {
              position: relative;
              min-width: 8px;
              max-width: 8px;
              min-height: 8px;
              max-height: 8px;
              border-radius: 100%;

              &.status_available {
                background: #22c55e;

                /* Создаем пульсирующий слой через псевдоэлемент */
                &.status_available::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: #22c55e;
                  border-radius: 100%;
                  opacity: 0.7;
                  animation: pulse 2s infinite;
                }

                @keyframes pulse {
                  0% {
                    transform: scale(1);
                    opacity: 0.7;
                  }
                  70% {
                    transform: scale(3); /* Круг расширяется */
                    opacity: 0; /* И плавно исчезает */
                  }
                  100% {
                    transform: scale(1);
                    opacity: 0;
                  }
                }
              }
            }
          }

          .description {
            margin-left: calc(8px + 12px);
          }
        }

        .social_wrapper {
          @include glass-effect;
          @include flex-center;
          gap: 16px;
          width: 100%;

          @include respond-to("mobile-m", "mobile-s") {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
          }

          .icon_wrapper {
          }
        }
      }
    }
  }
}
