// 🎨 Фоны (backgrounds)
$background-primary: var(--background-primary);

// Кнопки (Button)
// Фоны кнопок
$background-button-primary: var(--background-button-primary);
$background-button-primary--hover: var(--background-button-primary--hover);
$background-button-primary--focus: var(--background-button-primary--focus);

$background-button-secondary: var(--background-button-secondary);
$background-button-secondary--hover: var(--background-button-secondary--hover);
$background-button-secondary--focus: var(--background-button-secondary--focus);

// Glass-эффект
$background-glass: var(--background-glass);
$background-wrapper: var(--background-wrapper);

// 🖋️ Текста (text)
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color_text_placeholder: var(--color_text_placeholder);
$color-text-accent: var(--color-text-accent);
$color-text-accent-gradient: var(--color-text-accent-gradient);
$color-text-error: var(--color-text-error);

// Кнопки (Button)
// Текста кнопок
$color-text-button-primary: var(--color-text-button-primary);
$color-text-button-primary--hover: var(--color-text-button-primary--hover);
$color-text-button-primary--focus: var(--color-text-button-primary--focus);

$color-text-button-secondary: var(--color-text-button-secondary);
$color-text-button-secondary--hover: var(--color-text-button-secondary--hover);
$color-text-button-secondary--focus: var(--color-text-button-secondary--focus);

// 🧱 Границы
// Glass-эффект
$border-glass: var(--border-glass);

// 🌑 Тени
// Тени кнопки
$shadow-button-primary: var(--shadow-button-primary);
$shadow-button-primary--hover: var(--shadow-button-primary--hover);
$shadow-button-primary--focus: var(--shadow-button-primary--focus);

$shadow-button-secondary: var(--shadow-button-secondary);
$shadow-button-secondary--hover: var(--shadow-button-secondary--hover);
$shadow-button-secondary--focus: var(--shadow-button-secondary--focus);

// Glass-эффект
$shadow-glass: var(--shadow-glass);

// 💡 Свечения (Glow) — в формате RGB, чтобы удобно использовать с alpha
$glow-primary-rgb: var(--glow-primary-rgb); // Сине-фиолетовый
$glow-primary-alpha: var(--glow-primary-alpha);

$glow-secondary-rgb: var(--glow-secondary-rgb); // Фиолетовый
$glow-secondary-alpha: var(--glow-secondary-alpha);

// 🌐 Адаптивность (Медиа-запросы)
$width-mobile-s: 320px;
$width-mobile-m: 480px;
$width-mobile-l: 768px;
$width-tablet: 992px;
$width-laptop-s: 1024px;
$width-laptop-m: 1200px;
$width-laptop-l: 1440px;

// 📏 Размеры
$min-height-viewport: 100svh; // высота видимого окна
$navbar-height: var(--navbar-height); // высота Navbar

$max-width-section: 1440px;

// ✍️ Шрифты
$font-title: "Manrope", sans-serif; // шрифт заголовков (Title)
$font-text: "Inter", sans-serif; // шрифт текста (Text)
$font-input: "Inter", sans-serif; // шрифт текста в полях ввода
$font-button: "Inter", sans-serif; // шрифт кнопок (Button)
// Размер шрифтов
$font-size-text-xs: 14px;
$font-size-text-sm: 16px;
$font-size-text-md: 18px;
$font-size-text-lg: 20px;

$font-size-title-sm: 22px;
$font-size-title-md: 28px;
$font-size-title-lg: 72px;
// Жирность шрифтов
$font-weight-text-xs: 400;
$font-weight-text-sm: 400;
$font-weight-text-md: 400;
$font-weight-text-lg: 600;

$font-weight-title-sm: 700;
$font-weight-title-md: 700;
$font-weight-title-lg: 700;

// 🧩 Отступы (padding, margin)
$padding-section-x: 48px;
$padding-section-y: 24px;
$padding-section: $padding-section-y $padding-section-x;
