.wrapper {
  flex-grow: 1;
  padding-top: calc($navbar-height + ($padding-section-y * 2));

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-grow: 1;

    @include respond-to(
      "laptop-s",
      "tablet",
      "mobile-l",
      "mobile-m",
      "mobile-s"
    ) {
      display: flex;
      flex-direction: column-reverse;
    }

    .info {
      @include glass-effect($padding: 36px);
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 24px;

      .bg_text {
        position: absolute;
        bottom: 5%;
        right: 5%;
        opacity: 0.2;
        line-height: 100%;

        font-size: 8rem;
        font-family: $font-title;
        z-index: 0;

        -webkit-user-select: none; /* Запрет выделения в Safari/Chrome */
        user-select: none; /* Запрет выделения текста и фото */
        -webkit-user-drag: none; /* Запрет перетаскивания в WebKit */
        pointer-events: none; /* Отключает клики мышкой (запрещает ПКМ) */
      }

      .middle {
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: 1;
      }

      .button_wrapper {
        z-index: 1;
      }
    }

    .image_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 100%;

      .image {
        height: 100%;
        width: auto;
        object-fit: cover;
        -webkit-user-select: none; /* Запрет выделения в Safari/Chrome */
        user-select: none; /* Запрет выделения текста и фото */
        -webkit-user-drag: none; /* Запрет перетаскивания в WebKit */
        pointer-events: none; /* Отключает клики мышкой (запрещает ПКМ) */
      }
    }
  }
}
