.text {
  font-family: $font-text;
  letter-spacing: -0.01em;
  text-wrap: balance;
  text-wrap: pretty;
  white-space: pre-line;

  //Моды
  &.mode_primary {
    color: $color-text-primary;
  }

  &.mode_secondary {
    color: $color-text-secondary;
  }

  //Размер текста
  &.size_xs {
    font-size: $font-size-text-xs;
    font-weight: $font-weight-text-xs;
  }

  &.size_sm {
    font-size: $font-size-text-sm;
    font-weight: $font-weight-text-sm;
  }

  &.size_md {
    font-size: $font-size-text-md;
    font-weight: $font-weight-text-md;
  }

  &.size_lg {
    font-size: $font-size-text-lg;
    font-weight: $font-weight-text-lg;
  }

  //Выравнивание
  &.align_left {
    text-align: left;
  }

  &.align_center {
    text-align: center;
  }

  &.align_right {
    text-align: right;
  }

  &.align_justify {
    text-align: justify;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
