.text {
  font-family: $font-text;
  letter-spacing: -0.01em;
  text-wrap: balance;
  text-wrap: pretty;
  white-space: pre-line;

  //Моды
  &.mode_primary {
    color: $color-text-primary;
  }

  &.mode_secondary {
    color: $color-text-secondary;
  }

  //Размер текста
  &.size_xs {
    font-size: 14px;
  }

  &.size_sm {
    font-size: 16px;
  }

  &.size_md {
    font-size: 18px;
  }

  &.size_lg {
    font-size: 20px;
    font-weight: 600;
  }

  //Выравнивание
  &.align_left {
    text-align: left;
  }

  &.align_center {
    text-align: center;
  }

  &.align_right {
    text-align: right;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
