.tabs_item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  user-select: none;
  white-space: nowrap;
  text-wrap: nowrap;
  z-index: 2;

  .item_content {
    white-space: nowrap;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Опционально: многоточие при обрезке */
  }

  // Стили конкретно под выбранный вариант `mode="accent"`
  &.mode_accent {
    padding: 8px 16px;
    border-radius: 16px;
    background: transparent;
    color: var(--color-text-tab-primary);
    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    &:hover:not(.item_selected):not(.item_disabled) {
      background: var(--background-tab-primary--hover);
      color: var(--color-text-tab-primary--hover);
    }

    &.item_selected {
      color: var(--color-text-tab-primary--active);

      .item_content {
        color: inherit;
      }
    }
  }

  &.item_disabled {
    opacity: 0.6;
    cursor: not-allowed;
    z-index: 1;
  }

  &.item_before,
  &.item_after {
    display: flex;
    align-items: center;
    color: inherit;
  }
}
