.section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // min-height: calc($min-height-viewport - $navbar-height - $padding-section-y);

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    margin: auto 0;

    @include respond-to("mobile-l", "mobile-m", "mobile-s") {
      display: flex;
      flex-direction: column;
    }

    .form_wrapper {
      @include glass-effect($padding: 24px);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 48px;

      .forms_group {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .input_group {
          display: flex;
          align-items: center;
          gap: 6px;
          width: 100%;

          @include respond-to(
            "laptop-m",
            "laptop-s",
            "tablet",
            "mobile-l",
            "mobile-m",
            "mobile-s"
          ) {
            align-items: flex-start;
            flex-direction: column;
          }

          .and_or {
            text-wrap: nowrap;
            color: $color-text-secondary;
          }
        }
      }

      .file_badge {
        @include glass-effect;
        display: flex;
        align-content: center;
        align-items: center;
        gap: 12px;
        width: fit-content;

        .name {
          @include text-truncate($lines: 2);
        }

        .remove_file_btn {
          background: none;
          border: none;
          color: $color-text-error;
          cursor: pointer;
          padding: 2px 4px;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .file_error {
        color: $color-text-error;
      }
    }

    .bubble_container {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;

      @include respond-to("mobile-l", "mobile-m", "mobile-s") {
        display: none;
      }

      .bubble {
        @include glass-effect;
        user-select: none; /* Запрещаем выделение текста */
        transition: all 0.3s ease; /* Плавный переход при наведении */

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
