.separator {
  background: rgba(120, 140, 255, 0.2);
  flex-shrink: 0;
  align-self: stretch;

  &.direction_horizontal {
    width: 100%;
    height: 1px;
  }

  &.direction_vertical {
    width: 1px;
    height: 100%;
    height: auto;
  }
}
