.gallery_wrapper {
  position: relative;
  width: calc(100% + $padding-section-x + $padding-section-x);
  max-width: calc(100% + $padding-section-x + $padding-section-x);
  min-width: 0;
  margin-left: -$padding-section-x;
  margin-right: -$padding-section-x;
}

.gallery_container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  max-width: 100%;
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
  padding: 12px 0px;
  overscroll-behavior-x: contain; // Защита от свайпбека на тачпадах
}

.gallery_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;
  width: max-content;
  scroll-snap-align: center;
  scroll-snap-stop: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  height: 400px;

  &:first-child {
    padding-left: $padding-section-x;
  }

  &:last-child {
    padding-right: $padding-section-x;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.05);
    }
  }

  img {
    height: 100%;
    width: auto;
    display: block;
  }
}

.arrow_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  background: $background-button-gallery-arrow;
  color: $color-button-gallery-arrow;
  border: $border-button-gallery-arrow;
  box-shadow: $shadow-button-gallery-arrow;

  // Размытие картинки под стрелкой (Glassmorphism эффект)
  backdrop-filter: blur(6px) brightness(var(--glass-brightness))
    saturate(var(--glass-saturate));

  transition: all 0.5s ease-in-out;

  // Подключаем анимацию плавного появления при рендере
  animation: fadeInArrow 0.5s ease-in-out forwards;

  &:hover {
    background: $background-button-gallery-arrow--hover;
    color: $color-button-gallery-arrow--hover;
    transform: translateY(-50%) scale(1.05);
  }

  &:active {
    transform: translateY(-50%) scale(0.95);
  }
}

.arrow_left {
  left: 22px;
}

.arrow_right {
  right: 22px;
}

@keyframes fadeInArrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
