.section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  padding: $padding-section;
  scroll-margin-top: calc($navbar-height + $padding-section-y);
  @include max-width-section;

  .header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 24px;

    .middle {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
