.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  .top {
  }

  .children {
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .bottom {
    opacity: 0.6;
  }
}
