.title {
  font-family: $font-title;
  letter-spacing: -0.03em;
  text-wrap: balance;
  text-wrap: pretty;
  white-space: pre-line;

  //Размер текста
  &.size_sm {
    font-size: $font-size-title-sm;
    font-weight: $font-weight-title-sm;
  }

  &.size_md {
    font-size: $font-size-title-md;
    font-weight: $font-weight-title-md;
  }

  &.size_lg {
    font-size: $font-size-title-lg;
    font-weight: $font-weight-title-lg;
    line-height: 100%;
  }

  //Выравнивание
  &.align_left {
    text-align: left;
  }

  &.align_center {
    text-align: center;
  }

  &.align_right {
    text-align: right;
  }

  &.align_justify {
    text-align: justify;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
